/* Desktop View */
body {
    margin: 0px;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}

.overall-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin-top: 80px;
    margin-left: 85px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

}

.content-header {
    width: 350px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.content-sub-header {
    width: 490px;
    font-size: 10px;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 400;
    
}

.hero-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 450px;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 0px 5px #DB6667;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.signup-header {
    font-size: 7px;
    background-color:hsl(248, 32%, 49%);
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    height: 40px;
    padding-top: 10px;
    box-shadow: 0px 5px #DB6667;
}

.form_input {
    width: 350px;
    margin: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
}

.form-btn {
    width: 354px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: hsl(154, 59%, 51%);
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 5px #38B57E;
}


.footer-text {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 20px;
}

span {
    color: hsl(0, 100%, 74%);
}


.error-input {
    border: 2px solid hsl(0, 100%, 74%);
    margin-bottom: 15px;
    background-image: url(images/icon-error.svg);
    background-position: 94% center;
    background-repeat: no-repeat;
    background-size: 6%;
}

.hidden {
    display: none;
}

.error-msg {
    margin: 0px;
    font-size: 12px;
    font-style: italic;
    color: hsl(0, 100%, 74%);
    text-align: right;
    margin-right: 20px;
}


/* Mobile View */

@media screen and (max-width: 500px) {
    body {
        margin: 0px;
        background-image: url(images/bg-intro-mobile.png);
    }

    .overall-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 800px;
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 10px;
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 350px;
        margin-right: 0px;
    
    }
    
    .content-header {
        width: 300px;
        font-size: 14px;
    }
    
    .content-sub-header {
        width: 300px;
        font-size: 10px;
        font-weight: 200;
        color: #FFFFFF;
        line-height: 25px;
        
    }
    
    .hero-signup-container {
        width: 300px;
    }
    
    .signup-form {
        margin-top: 25px;
    }
    
    .signup-header {
        font-size: 5px;
        height: 50px;
        padding-top: 25px;
        margin-top: 50px;
        box-shadow: 0px 5px #DB6667;
    }
    
    .form_input {
        width: 250px;
        margin: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
        height: 35px;
    }
    
    .form-btn {
        width: 254px;
        margin: 15px;
    }
    
    
    .footer-text {
        font-size: 10px;
        font-weight: bold;
        width: 220px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 15px;
    }







}


