body {
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
}

.hero-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 55px;
}

.hero-header {
    text-align: center;
    margin-top: -10px;
}

.hero-img {
    width: 470px;
    height: 270px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.title {
    font-size: 38px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

span {
    color: hsl(209, 33%, 12%);
    font-weight: 600;
}

.text {
    font-size: 14px;
    /* font-weight: 300; */
    color: hsl(209, 33%, 12%);
    margin-top: -25px;
}

.hero-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 485px;
    margin-top: 30px;
}

.email-input {
    width: 300px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50px;
}

.btn {
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    background-color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 87%, 63%);
    border-radius: 50px;
    box-shadow: 2px 7px 2px #E5EBFE;
}

[type = 'email'] {
    padding-left: 20px;
}

.hidden {
    display: none;
}

.error-input {
    border: 1px solid hsl(354, 100%, 66%);
}

.error-msg {
    color: hsl(354, 100%, 66%);
    text-align: left;
    font-size: 10px;
    font-style: italic;
    margin-left: 20px;
    margin-top: 5px;
}


/* Mobile View */

@media screen and (max-width: 500px) {


    .hero-page {
        margin-top: 100px;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        width: 50px;
    }
    
    .hero-header {
        text-align: center;
        margin-top: 15px;
        width: 400px;
    }
    
    .hero-img {
        width: 350px;
        height: 270px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    
    .title {
        font-size: 28px;
    }
    
    .text {
        font-size: 12px;
        margin-top: -10px;
    }
    
    .hero-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 405px;
        height: 100px;
        margin-top: 35px;
    }
    
    .email-input {
        width: 290px;
        height: 35px;
    }

    [type = 'email'] {
        padding-left: 30px;
    }
    
    .btn {
        width: 320px;
        height: 40px;
    }

    .error-msg {
        color: hsl(354, 100%, 66%);
        text-align: left;
        font-size: 10px;
        font-style: italic;
        margin-left: 120px;
        /* margin-top: 5px; */
        position: relative;
        top: -65px;
    }


}