*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Josefin Sans";
    box-sizing: content-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-content {
    width: 60%;
    background-image: url("images/bg-pattern-desktop.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    box-sizing: inherit;
}

.aside-image {
    width: 40%;
    height: 654px;
    background-color: blue;
    display: block;
}

.logo-img {
    margin-right: 200px;
}

.hero-img {
    width: 100%;
    height: 100vh;
    box-sizing: inherit;
}

.header {
    line-height: 20px;
    margin-right: 80px;
    margin-top: 70px;
}

.header-1 {
    font-size: 50px;
    text-transform: uppercase;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    letter-spacing: 12px;
}

.header-2 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.header-3 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.sub-header {
    margin: 0px;
}

.sub-1 {
    font-size: 15px;
    width: 385px;
    margin-right: 10px;
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
    line-height: 23px;
    margin-top: -10px;
    margin-left: 35px;
}

.email-input {
    width: 340px;
    height: 44px;
    margin-right: 20px;
    border-radius: 30px;
    border: 1px solid rgb(214, 210, 225);
    margin-top: 15px;
    margin-left: 25px;
}

.wrapper {
    position: relative;
}

[type='email'] {
    padding-left: 20px;
}

.btn {
    position: absolute;
    top: 14px;
    left: 312px;
    margin-right: 50px;
    width: 85px;
    height: 49.5px;
    border-radius: 47%;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

}

.btn:active {
    background-image: Linear, (135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
    background-color: hsl(0, 36%, 70%);
}

.error-input {
    border: 1px solid hsl(0, 93%, 68%);
    background-image: url(images/icon-error.svg);
    background-position: 75% center;
    background-repeat: no-repeat;
}

.error-msg {
    font-size: 12px;
    color: hsl(0, 93%, 68%);
    margin-left: 45px;
}

.hidden {
    display: none;
}


/* Mobile View */

@media screen and (max-width: 500px) {
    
}